services:
  backend:
    build: ./backend
    container_name: backend-secure
    expose:
      - "3000"

  nginx:
    build: ./nginx
    container_name: nginx-secure
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
