services:
  backend1:
    build: ./backend
    container_name: backend1
    environment:
      - INSTANCE_NAME=backend-1

  backend2:
    build: ./backend
    container_name: backend2
    environment:
      - INSTANCE_NAME=backend-2

  nginx:
    build: ./nginx
    container_name: nginx-proxy
    ports:
      - "80:80"
    depends_on:
      - backend1
      - backend2
